---
layout: default
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ site.url }}/{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ site.url }}/{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <!-- <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2> -->
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}


      <footer class="absolute left-0 right-0 bottom-0">
<span class="right">
    Excavations in the Forum Romanum from 'The Graphic', March 2, London, 1872. Museum of Ancient Cultures, WOP 024. Donated by Lynette Jensen.
</span>
</footer>

    </figcaption>
  </figure>
<main id="content" role="main" class="content">
<div class="cf">
<div class="mb2">
<p>The MQ City of Rome Blog focuses on the history of ancient Rome. The city was founded in myth in the year 753 BCE and became the first metropolis, with an empire stretching from Scotland to the Sahara and from the Atlantic Ocean to the Euphrates (Iraq).</p>
<p>There are so many questions about ancient Rome ranging from its famous monuments, such as Pompey’s Theatre, through to the fighting of fires and, yes, to that ubiquitous everyday building material – concrete, that you will find covered in the upcoming posts of this blog.</p>
<p>During MQ session 1 2019, as of Monday the 25th of February, a blog will be posted every fortnight. Each post has been created by a student at Macquarie University as part of their research undertaken under the direction of Professor Ray Laurence in the Department of Ancient History (in AHIS 313).</p>
<p>All topics for the posts were picked by students and researched by students with some guidance. The content of the posts devised by students studying the City of Rome was then edited by student <a href="https://www.mq.edu.au/study/why-study-here/employability/learning-for-life">Professional and Community Engagement (PACE AHIS 392)</a> interns to create the final versions of the posts that appear here. The students developed their own view of Rome through these topics. Expect to find some lively ideas, even some puns (good or bad), and a shift away from the formalities of academic writing to make the study of the city of Rome accessible to a wider public.</p>
<p>Leading on from this, while these posts contain some material that is inaccessible to the wider public or teachers of HSC Ancient History in New South Wales, because it is hidden behind a paywall, they are all hyperlinked to open access translations of ancient sources and, where possible, to further information. This was done to enable teachers and students (and anyone else reading this blog) to dig deeper into the history of ancient Rome.</p>
</div>

{% for post in site.posts %}
 {% assign author = site.data.author.authors[post.author] %}

  <h2><a href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
  <div class="content">
    {% if author %}{{author["name"]}} <span> {% else %} <span> {% endif %}
    <p class="post-description">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    <p><a href="{{site.url}}{{site.baseurl}}{{post.url}}">Read More...</a></p>
  </div>
{% endfor %}
<div>
  <h2>Editing Team</h2>
  <div>
  <p>Ewan Coopey is a PACE intern working under Professor Ray Laurence. He is an undergraduate student at Macquarie University studying a Bachelor of Ancient History with a focus on Republican Rome and the Early Principate. His passion for all things ancient and medieval arose in childhood, when he would wonder through the Roman forts and medieval castles scattered across the British Isles. His research interests include: Ancient Roman religion, cultural transmission within the Empire, Roman auxiliaries, identity in the ancient world, and the province of Dalmatia.</p>
  <p>Jack Jones is a PACE intern working under Professor Ray Laurence. He is an undergraduate student at Macquarie University studying a Bachelor of Archaeology, with a double major in geology and palaeobiology. While not intending to do further studies in the ancient world, Jack has always been intersted in history, resulting from the Horrible Histories books he read as a child. However, Jack is more interested in slighlty more ancient pre-human history. Jacks research interests include: life during the Ediacaran, future technologies for the study of palaeobiology and linking stratigraphy to fossil appearances.</p>
  <p>Oliver Twyford is a PACE intern working under Professor Ray Laurence. He is an undergraduate student at Macquarie University studying a Bachelor of Ancient History, after which he hopes to progress to postgraduate Classical studies. Oliver has always held a keen interest in humanity's past, reading many fictional and non-fictional historical novels from an early age. However, it was after his travels to the ancient ruins of Europe, in particular, that he wanted to make history more than a hobby. Oliver's research interests include: the late Roman Republic to early Principate, the impact of the Roman conquer of Britain, Spartan culture and ideology, and the evolution of humanity from hunter-gatherers to city-states and nations.</p>
  <p>Ray Laurence is Professor of Ancient History. Prior to his appointment at Macquarie in 2017, he held positions at the Universities of Reading, Birmingham and Kent in the UK. His research is centred on the study of Roman Urbanism. He also works on the study of childhood and ageing in antiquity, as well as roads and communications technologies in the Roman Empire.
  Ray's work often involves the use of innovative techniques, whether drawn from approaches in the Digital Humanities or in Archaeological Science. He has also developed collaborative projects with animators and an animation studio to produce six films, which have been viewed more than 8 million times. He is the editor of the series Studies in Roman Space and Urbanism (Routledge).</p>
  </div>
</div>
</main>

{% include footer.html %}
