---
layout: default
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ site.url }}/{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ site.url }}/{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <!-- <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2> -->
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}


      <footer class="absolute left-0 right-0 bottom-0">
<span class="right">
    Rome - Excavations in the Forum Romanum from 'The Graphic', March 2, London, 1872. Museum of Ancient Cultures, WOP 024, donated by Lynette Jensen
</span>
</footer>

    </figcaption>
  </figure>
<main id="content" role="main" class="content">
<div class="cf">
<div class="mb2">
<p>MQ Rome focuses on the history of ancient Rome. The city was founded in myth in the year 753 BCE and became the first metropolis with an empire stretching from Scotland to the Sahara and from the Atlantic Ocean to the Euphrates (Iraq).</p>
<p>There are so many questions about ancient Rome ranging from its famous monuments, such as Pompey’s Theatre, through to the fighting of fires and, yes, to that ubiquitous everyday building material – concrete that you will find covered in the upcoming posts of this blog.</p>
<p>Each post has been created by a student at Macquarie University as part of their research undertaken under the direction of Professor Ray Laurence in the Department of Ancient History (in AHIS 313).</p>
<p>All topics for the posts were picked by students and researched by students with some guidance. The content of the posts devised by students studying the City of Rome was then edited by student <a href="https://www.mq.edu.au/study/why-study-here/employability/learning-for-life">Professional and Community Engagement (PACE AHIS 392)</a> interns to create the final versions of the posts that appear here.</p>
<p>The students developed their own view of Rome through these topics. These posts contain material that can be inaccessible to the wider public or teachers of the Ancient History HSC in New South Wales, because it is hidden behind a paywall. Expect to find some lively ideas, even some puns (good or bad), and a shift away from the formalities of academic writing to make the study of the city of Rome accessible to a wider public.</p>
<p>All posts are hyperlinked to open access translations of ancient sources and where possible are hyperlinked to further information, thus enabling teachers and students (and anyone else reading this blog) to dig deeper into the history of ancient Rome.</p>
</div>

{% for post in site.posts %}
 {% assign author = site.data.author.authors[post.author] %}

  <h2><a href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
  <div class="content">
    {% if author %}{{author["name"]}} <span> {% else %} <span> {% endif %}
    <p class="post-description">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    <p><a href="{{site.url}}{{site.baseurl}}{{post.url}}">Read More...</a></p>
  </div>
{% endfor %}
<div>
  <h2>Editing Team</h2>
  <div>
  <p>Stuff goes here</p>
  <p>Second paragraph</p>
  </div>
</div>
</main>

{% include footer.html %}
