---
layout: default
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="/{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="/{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        
        
        
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">          
           <amp-img class="center" width="750" height="214" alt="Cover" layout="fixed" src="/assets/logo/mqtex750.png" ></amp-img><br/>
          
        </h1>
        <!-- <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2> -->
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">
<div class="cf">


{% for post in site.posts %}
 {% assign author = site.data.author.authors[post.author] %}

  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="content">
    {% if author %} <a href='{{ site.url }}authors#{{post.author}}-ref'>{{author["name"]}}</a> <span> {% else %} <span> {% endif %}
    <p class="post-description">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    <p><a href="{{post.url}}">Read More...</a></p>
  </div>
{% endfor %}

</div>
</main>

{% include footer.html %}
