<dt>{{include.time}}</dt>
<dd><strong>{{include.talk}}</strong></dd>
<dd><a href="#{{include.section | replace: '-' ''}}" on="tap:speakers.collapse,speakers.expand(section='{{include.section| replace: '-'}}'),{{include.section | replace: '-' ''}}.scrollTo(position=center)">{{include.name}}</a></dd>
{% if include.abstract %}
<dd><a href="#{{include.section | replace: '-' ''}}-abstract" on="tap:abstracts.collapse,abstracts.expand(section='{{include.section| replace: '-'}}-abstract'),{{include.section | replace: '-' ''}}-abstract.scrollTo(position=center)">Abstract</a></dd>

{% endif %}
{% for slide in include.slides %}
<dd><a href="/assets/slides/{{slide}}" target=_blank>Slides</a></dd>
{% endfor %}

{% for handout in include.handouts %}
<dd><a href="/assets/slides/{{handout}}" target=_blank>Handout</a></dd>
{% endfor %}